body{
	margin: 0 auto;
	padding: 0;
	font-family:Arial, Helvetica, Sans-serif;
	font-size:0.875em;
	line-height:1.5;
	font-weight:400;
	color:#434343;
	background:#cccccc;
}

nav{
	
}
nav section h1{
	line-height: 50vh;
	text-align:center;
}
section.k button{
	border: none;
	float:left;
	width:50%;
	height:50vh;
}
section.k1 button{
	background-color:lightblue;
}
section.k2 button{
	background-color:#ff8080;
}
section.k3 button{
	background-color:lightgreen;
}
section.k4 button{
	background-color:#ffff66;
}

section button {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}
section.k1 button:active{
	background-color:#c4e3ed;
}

section.k2 button:active{
	background-color:#ffb3b3;
}

section.k3 button:active{
	background-color:#bdf5bd;
}

section.k4 button:active{
	background-color:#ffff99;
}

section.art{
	display:inline-block;
	width:100%;
	height: auto;
	margin: 6em 0em 8em 0em;
	/*background-color:#f3a5f3*/
}

section.art h1{
	margin-top:4em;
	text-align:center;
}

section.art img{
	float:left;
	margin:1em;
	height:25em;
	width:25em;
}

section.art p{
	text-align:justify;
	margin:2em;
	font-size:28px;
}

section.gal{
	display:inline;
	margin:1em;
	text-align:center;
	/*background-color:#f3a5f3*/
}

section.gal a {
	margin:0em 4em 0em 4em;
}

section.blog {
	height: auto;
	margin:10em 1em 1em 1em;
}

section.blog h1{
	text-align:center;
}

section.blog img {
	height: auto;
	width: 100%;
	margin:0 auto;
}

section.media{
	height: 100vh;
	line-height:50vh;
	/*margin:10em 2em 10em 2em;*/
	text-align:center;
}
section.media a img{
	padding:2em;
}



footer {
	width:100%;
	height:8vh;
	background-color:gray;
	text-align:center;
}

@media (min-width: 1100px) {
	main {width:100%;}
	footer {width:100%;}
	section.art {width:100%;}
}
@media (max-width: 1100px) and (min-width: 1000px) {
	main {width:100%;}
	footer {width:100%;}
	section.art {width:100%;}
}
@media (max-width: 1000px) and (min-width: 800px) {
	main {width:100%;}
	footer {width:100%;}
	section.art {width:100%;}
}
@media (max-width: 800px) and (min-width: 500px) {
	main {width:100%;}
	footer,
	section.art {width:100%;}
}
@media (max-width: 500px) {
	main {width:100%;}
	footer,
	section.art {width:100%;}
}